<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIN_jRovvL4wSKypgLfpYhiy7VBec24tY</string>
	<key>GCM_SENDER_ID</key>
	<string>389118231763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.arcInventory</string>
	<key>PROJECT_ID</key>
	<string>arc-inventory-b113f</string>
	<key>STORAGE_BUCKET</key>
	<string>arc-inventory-b113f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389118231763:ios:4d6684cc8aba9611788026</string>
</dict>
</plist>